#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

@keyframes profile {
  0% {
    transform: none;
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: none;
  }
}

.message-row img:hover {
  animation: profile 1s linear infinite;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message_author {
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}

.message_bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message_info {
  display: flex;
  align-items: flex-end;
}

.message_time {
  font-size: 12px;
}

.message-row-own {
  justify-content: flex-end;
}

.message-row-own .message_bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row-own .message_info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 12px;
}

.reply_column button i {
  opacity: 1;
}

.reply .reply_column:first-child {
  width: 10%;
}

.reply .reply_column:last-child {
  position: relative;
  width: 90%;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
  right: -5px;
  top: 2px;
}

.reply_column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply_column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply_column button:focus,
.reply_column button:active {
  outline: none;
}
